@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato, sans-serif;
    font: weight 300px;
    color: #3a3a3a;
}

h2,
h3 {

    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    font-size: 280%;
    float: left;
    margin-left: 30px;

}

/* negative */

#menu {
    font-size: 100%;
    letter-spacing: 4px;

}

#menu,
#logo {
    line-height: 75px;
}

#menu li {

    float: right;
    list-style-type: none;
    margin-right: 30px;

}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


#second {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#back {
    background: url(/asset/images/Full\ View.jpeg) no-repeat center center;
    height: 900px;
    width: 100%;
    background-size:cover;
    animation: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/* creat level of zoom for hero image */

@keyframes hero-zoom {

    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#third {

    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(241, 109, 107, .7);
    bottom: 20px;
    right: 200px;
    position: absolute;

}

#clear {
    clear: both;
}

#left {

    float: left;
}

#center {
    text-align: center;
    margin-top: 30px;
    font-size: 150%;
    text-decoration: underline;
}

#left li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    overflow: visible;
    clear: right;
}


#places {
    height: 100px;
    width: 200px;
    text-align: center;
    background: url(../images/Hurghada-town-in-Egypt-800x599.jpg) no-repeat center center;
    overflow: hidden;
    margin-top: 10px;
    background-size: cover;
    border: 1px solid black;
    border-radius: 20px;
   
}

#places>h3 {
    text-align: center;
    margin-top: 70px;
    font-size: 130%;
    overflow: auto;
}

#places2 {
    height: 100px;
    width: 200px;
    text-align: center;
    background: url(../images/Hurghada-town-in-Egypt-800x599.jpg) no-repeat center center;
    overflow: hidden;
    margin-top: 10px;

    background-size: cover;
    border: 1px solid black;
    border-radius: 20px;
  
}

#places2>h3 {
    text-align: center;
    margin-top: 70px;
    font-size: 130%;
    overflow: auto;
}

#places3 {
    height: 100px;
    width: 200px;
    text-align: center;
    background: url(../images/Hurghada-town-in-Egypt-800x599.jpg) no-repeat center center;
    overflow: hidden;
    margin-top: 10px;
    background-size: cover;
    border: 1px solid black;
    border-radius: 20px;
   
}

#places3>h3 {
    text-align: center;
    margin-top: 70px;
    font-size: 130%;
    overflow: auto;
}

#places4 {
    height: 100px;
    width: 200px;
    text-align: center;
    background: url(../images/Hurghada-town-in-Egypt-800x599.jpg) no-repeat center center;
    overflow: hidden;
    margin-top: 10px;
    background-size: cover;
    border: 1px solid black;
    border-radius: 20px;
   
}

#places4>h3 {
    text-align: center;
    margin-top: 70px;
    font-size: 130%;
    overflow: auto;
}

#places5 {
    height: 100px;
    width: 200px;
    text-align: center;
    background: url(../images/Hurghada-town-in-Egypt-800x599.jpg) no-repeat center center;
    overflow: hidden;
    margin-top: 10px;
    background-size: cover;
    border: 1px solid black;
    border-radius: 20px;
    clear: both;
  
}

#places5>h3 {
    text-align: center;
    margin-top: 70px;
    font-size: 130%;
    overflow: auto;
}

#places6 {
    height: 100px;
    width: 200px;
    text-align: center;
    background: url(../images/Hurghada-town-in-Egypt-800x599.jpg) no-repeat center center;
    overflow: hidden;
    margin-top: 10px;
    background-size: cover;
    border: 1px solid black;
    border-radius: 20px;
   
}

#places6>h3 {
    text-align: center;
    margin-top: 70px;
    font-size: 130%;
    overflow: auto;
}

#places7 {
    height: 100px;
    width: 200px;
    text-align: center;
    background: url(../images/Hurghada-town-in-Egypt-800x599.jpg) no-repeat center center;
    overflow: hidden;
    margin-top: 10px;
    background-size: cover;
    border: 1px solid black;
    border-radius: 20px;
  
}

#places7>h3 {
    text-align: center;
    margin-top: 70px;
    font-size: 130%;
    overflow: auto;
}

#places8 {
    height: 100px;
    width: 200px;
    text-align: center;
    background: url(../images/Hurghada-town-in-Egypt-800x599.jpg) no-repeat center center;
    overflow: hidden;
    margin-top: 10px;
    background-size: cover;
    border: 1px solid black;
    border-radius: 20px;
  
}

#places8>h3 {
    text-align: center;
    margin-top: 70px;
    font-size: 130%;
    overflow: auto;
}

#places9 {
    height: 100px;
    width: 200px;
    text-align: center;
    background: url(../images/Hurghada-town-in-Egypt-800x599.jpg) no-repeat center center;
    overflow: hidden;
    margin-top: 10px;
    background-size: cover;
    border: 1px solid black;
    border-radius: 20px;
   
}

#places9>h3 {
    text-align: center;
    margin-top: 70px;
    font-size: 130%;
    overflow: auto;
}

#places10 {
    height: 100px;
    width: 200px;
    text-align: center;
    background: url(../images/Hurghada-town-in-Egypt-800x599.jpg) no-repeat center center;
    overflow: hidden;
    margin-top: 10px;
    background-size: cover;
    border: 1px solid black;
    border-radius: 20px;
   
}

#places10>h3 {
    text-align: center;
    margin-top: 70px;
    font-size: 130%;
    overflow: auto;
}

#weather {
    height: 600px;

}

#weather>h2 {

    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
    padding-top: 100px;
    text-decoration: underline;
    font-size: 200%;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;

}

.left-about-heading {
    width: 90%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;

}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

.right-about-heading {
    width: 90%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 300px;


}

#circle {
    width: 200px;
    height: 200px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover {
    background: url(../images/Hurghada-town-in-Egypt-800x599.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;

}

footer {

    height: 150px;
}

footer>h2 {
    text-align: center;
    font-size: 200%;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 30px;
}

footer>h3 {
    text-align: center;
    padding: 2px;
    color: black;
}

#footer-left {

    list-style-type: none;
    text-align: center;

}

#footer-left li {
    display: inline;
    margin: 10px;


}

#footer-left i {
    color: #3a3a3a;
    font-size: 160%;
    margin: 1%;
    padding: 2%;

}

/* media queries */

/* for large & medium screen size*/

@media screen and (max-width:1200px) {

    #weather {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #second {
        width: 100%;
        height: 900px;
        margin: 0 auto;
    }
    #third{

        left: 10px;
        bottom: 300px;
        width:200px;
    }

    #weather>h2 {
        padding: 150px 0;
        margin: 0;
    }

    #left-about,
    #right-about {

        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;

    }


    hr {
        display: none;
    }

    #form-sec {
        width:100%;
        height: 1200px;
        
    }
    #signtoday{

       clear:left;
    }

    

}

/* for medium screen sizes from 950px and down */

@media screen and (max-width:950px){

    #menu{
        clear:left;
        float:left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    
    #cover-text{
        left:0;
    
    }
    
    #club-ethos{
        width:90%;
        height: 1200px;
        margin: 0 auto;
    }
    
    .left-about-heading, .right-about-heading{
        width:inherit;
    }
    
    .left-about-heading h2, .right-about-heading h2 {
        width:100%;
        text-align: center;
    }
    .left-about-heading p, .right-about-heading p{
        text-align: center;
        padding: 0 20px;
    }
}

#form-sec {

    background: url(../images/Hurghada-town-in-Egypt-800x599.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    
   
}

#form-sec>h2 {

    text-align: center;
    font-size: 280%;
    text-decoration: underline;
    color: #fafafa;
    background-color: rgba(60, 60, 60, 0.6);
   
    margin: 0 auto;
    padding: 10%;

}

.signup {

    max-width: 400px;
    color: #fafafa;
    background-color: rgba(60, 60, 60, 0.6);
    margin: 20px 0 0 20px;
    padding: 30px;


}

.text-input {

    width: 100%;
    height: 25px;
    background-color: transparent;
    border: 1px solid #fafafa;
    margin: 5px 0 10px 0;
    border-radius: 2px;


}

#form-header {

    text-align: left;
    vertical-align: super;
    color: #fafafa;
    margin: 10px 10px;
    font-weight: 10px;
    font-size: 160%;


}

#signtoday {

    width: 50%;
    background-color: rgba(60, 60, 60, 0.6);
    color: #fafafa;
    padding: 20px;
    
   


}

#signtoday,.signup{

    display: inline-block;
    margin: 60px;
}

#signtoday>h2 {

    text-transform: uppercase;
    color: #fafafa;
    font-size:160%;
    text-decoration: underline;
    text-align: left;
   
    margin: 10px;
}

#signtoday p {
    text-transform: uppercase;
    color: #fafafa;
    font-size: 100%;
    padding: 30px 0 30px 0;
}